<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-label><img src="../../assets/img/img1.png" width=50% ></ion-label>
  <ion-item color="off" >
    <ion-label color="black" class= "inputPlaceField" position="floating">Usuário</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item color="off">
  <ion-label color="black" class="inputPlaceField" position="floating">Senha</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-button class="buttonField"expand="full">Login</ion-button>
<ion-button class="buttonField2" expand="full">Cadastrar</ion-button>
<ion-icon class="face"   name="logo-facebook"></ion-icon>
<ion-icon class="insta" name="logo-instagram"></ion-icon>
<ion-icon class="tt" name="logo-twitter"></ion-icon>
</ion-content>




